.home-page {
    background: url('/assets/images/Canada-bg.png') no-repeat center center fixed;
    background-size: cover;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.home .btn-box {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 150px;
    margin-top: 850px;
}
.btn-box a {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    background: rgba(205, 3, 3, 0.3);
    backdrop-filter: blur(30px);
    display: inline-flex;
    border-radius: 50px;
    font-size: 50px;
    color: rgb(249, 249, 249);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
}
/*CITY STYLE*/
.City {
    background: url('/assets/images/City-BG.jpg') no-repeat center center/cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.page-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 50px 150px;
    z-index: 100;
}
.City-Content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20rem; 
    border-radius: 15px;
    max-width: 2100px;
    width: 1100%;
    text-align: center;
    margin-bottom: 300px;   
    min-height: 900px; 
}
.City-Content h1 {
    color: red;
    font-weight: 600;
    font-size: 80px;
    position: relative;
    top: -110px;
}
.City-Content h2 {
    color: orangered;
    text-align: left;
    margin-left: 430px;
    position: relative;
    top: 50px;
    font-size: 45px;
}   
.City-Content p {
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: Georgia, "Times New Roman", serif;
    position: relative;
    top: 15px;
}
.back-btn {
    color: rgb(53, 5, 246);
    font-size: 3rem;
    text-decoration: none;
    padding: 5px 10px;
}
.toronto {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    text-align: left;
    margin-top: 5rem;
}

.city-img {
    max-width: 50%;
    border-radius: 10px;
}
.vancouver {
    display: flex;
    align-items: flex-start; 
    margin-top: 15rem;
    gap: 60px;
}
.vancouver h2{
    color: orangered;
    text-align: left;
    margin-left: 430px;
    top: 1330px;
    font-size: 45px;
    position: absolute;
}
.vancouver-descript p{
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: Georgia, "Times New Roman", serif;
    position: relative;
    text-align: justify;
}
.quebec h2{
    color: orangered;
    text-align: left;
    margin-left: 430px;
    top: 2290px;
    font-size: 45px;
    position: absolute;
}
.quebec{
    display: flex;
    align-items: flex-start; 
    margin-top: 15rem;
    gap: 60px;
}
.quebec-descript p{
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: Georgia, "Times New Roman", serif;
    position: relative;
    text-align: justify;
    top: -45px;
}
.montreal h2{
    color: orangered;
    text-align: left;
    margin-left: 430px;
    top: 3390px;
    font-size: 45px;
    position: absolute;
}
.montreal{
    display: flex;
    align-items: flex-start; 
    margin-top: 15rem;
    gap: 60px;
}
.montreal-descript p{
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: Georgia, "Times New Roman", serif;
    position: relative;
    text-align: justify;
    top: -45px;
}
.food-content h1{
    color: rgb(21, 43, 114);
    top: 10px;
    font-size: 80px;
}
.poutine-descript p {
    text-align: justify;
}
.poutine-descript h2 {
margin-left: 10px;
font-size: 70px;
color: rgb(21, 43, 114);
}
.lobsterroll h2{
    color: rgb(21, 43, 114);
    text-align: left;
    margin-left: 0;
    font-size: 50px;
    position: absolute;
    top: 5990px;
}
.lobsterroll {
    display: flex;
    align-items: flex-start; 
    margin-top: 15rem;
    gap: 60px;
    
}
.food-img {
    max-width: 50%;
    border-radius: 10px;
}
.lobsterroll-descript p {
    text-align: justify;
}
.pea_soup h2{
    color: rgb(21, 43, 114);
    text-align: left;
    margin-left: 0;
    font-size: 50px;
    position: absolute;
    top: 6590px;
}
.pea_soup {
    display: flex;
    align-items: flex-start; 
    margin-top: 15rem;
    gap: 60px;
}
.peasoup-descript{
    text-align: justify;
}
.Boudin_Noir h2{
    color: rgb(21, 43, 114);
    text-align: left;
    margin-left: 0;
    font-size: 50px;
    position: absolute;
    top: 7130px;
}
.Boudin_Noir{
    display: flex;
    align-items: flex-start; 
    margin-top: 15rem;
    gap: 60px;
}
.BoudinNoir-descript{
    text-align: justify;
}
.Maple_Taffy h2{
    color: rgb(21, 43, 114);
    text-align: left;
    margin-left: 0;
    font-size: 50px;
    position: absolute;
    top: 7680px;
}
.Maple_Taffy{
    display: flex;
    align-items: flex-start; 
    margin-top: 15rem;
    gap: 60px;
}
.MapleTaffy-descript{
    text-align: justify;
}
.Rouladen h2{
    color: rgb(21, 43, 114);
    text-align: left;
    margin-left: 0;
    font-size: 50px;
    position: absolute;
    top: 8240px;
}
.Rouladen{
    display: flex;
    align-items: flex-start; 
    margin-top: 15rem;
    gap: 60px;
}
.Rouladen-descript{
    text-align: justify;
}
.SugarPie h2{
    color: rgb(21, 43, 114);
    text-align: left;
    margin-left: 0;
    font-size: 50px;
    position: absolute;
    top: 8780px;
}
.SugarPie{
    display: flex;
    align-items: flex-start; 
    margin-top: 15rem;
    gap: 60px;
}
.SugarPie-descript{
    text-align: justify;
}

/* NATURE STLYE */